@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color__pantone-310: #2DCED9;
  --color__pantone-546: #003A40;
  --color__pantone-611: #DEBF39;
}

.bg_dark {
  background-color: var(--color__pantone-546);
}

.bg_gold {
  background-color: var(--color__pantone-611);
}

.bg_primary {
  background-color: var(--color__pantone-310);
}