@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color__pantone-310: #2dced9;
  --color__pantone-546: #003a40;
  --color__pantone-611: #debf39;
}

.bg_dark {
  background-color: var(--color__pantone-546);
}

.bg_gold {
  background-color: var(--color__pantone-611);
}

.bg_primary {
  background-color: var(--color__pantone-310);
}

.h-85dvh {
  height: 85dvh;
}

.font-secondary {
  font-family: "quicksand" !important;
}

.bg-gradient-white {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(45, 206, 217, 0.5) 100%
  );
}

.bg-gradient-primary {
  background: rgb(45, 206, 217);
  background: linear-gradient(
    180deg,
    rgba(45, 206, 217, 0.5) 0%,
    rgba(222, 191, 57, 0.5) 100%
  );
}

.bg-gradient-terciary {
  background: rgb(222, 191, 57);
  background: linear-gradient(
    180deg,
    rgba(222, 191, 57, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.bg-gradient {
  background: rgb(222, 191, 57);
  background: linear-gradient(
    180deg,
    rgba(222, 191, 57, 0.3) 0%,
    rgba(45, 206, 217, 0.3) 50%,
    rgba(222, 191, 57, 0.3) 100%
  );
}

.parallax {
  /* Set a specific height */
  min-height: 400px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg__img--arg-crypto {
  background-image: url("/argentina_crypto--mobile.webp");
}

@media (min-width: 640px) {
  .bg__img--arg-crypto {
    background-image: url("/argentina_crypto--desktop.webp");
  }
}

.bg__img--crypto_operation {
  background-image: url("/crypto_operation--mobile.webp");
}

@media (min-width: 640px) {
  .bg__img--crypto_operation {
    background-image: url("/crypto_operation--desktop.webp");
  }
}

.text-background--white {
  background-color: #ffffffef;
  border-radius: 6px;
}

.h-60px {
  height: 60px;
}
